<?xml version="1.0" encoding="UTF-8"?>
<!-- This configuration & it's parent directory are an HTTPHandler solution relaying request to a "back-end" dCForm WCF WS & content server -->
<!-- Move this file or changing it's parent folder's name will break relaying for dCForm forms -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="SqlDBContext" connectionString="Connection Timeout=1200;Data Source=ddpqasql.preprod.des;Initial Catalog=rudine;User ID=DDDWebUserPreQA;Password=#Diam0ndback#;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Enabled" value="true"/>
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="Session"/>
      <remove name="ScriptModule-4.0"/>
      <remove name="RoleManager"/>
      <remove name="Profile"/>
      <remove name="OutputCache"/>
      <remove name="FormsAuthentication"/>
      <remove name="WebDAVModule"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <!--<httpRedirect enabled="true" destination="DocExchange.svc" exactDestination="true" childOnly="true" />-->
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <identity impersonate="false"/>
    <roleManager>
      <providers>
        <remove name="AspNetWindowsTokenRoleProvider"/>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="false">
      <serviceActivations>
        <add factory="Rudine.DocExchangeServiceHostFactory" relativeAddress="DocExchange.svc" service="Rudine.DocExchange"/>
      </serviceActivations>
    </serviceHostingEnvironment>
    <bindings>
      <basicHttpBinding>
        <binding bypassProxyOnLocal="true" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          transferMode="Streamed" useDefaultWebProxy="false" messageEncoding="Mtom">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647"
            maxNameTableCharCount="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>