<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Rudine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Rudine.Properties.Settings>
            <setting name="OnBaseUrl" serializeAs="String">
                <value>http://dtsobappt03a.azdes.gov/obappservernt/service.asmx</value>
            </setting>
            <setting name="OnBaseUser" serializeAs="String">
                <value>D027621</value>
            </setting>
            <setting name="OnBasePassword" serializeAs="String">
                <value>Spring2018</value>
            </setting>
            <setting name="OnBaseDataSource" serializeAs="String">
                <value>OBTest</value>
            </setting>
        </Rudine.Properties.Settings>
    </applicationSettings>
</configuration>