<?xml version="1.0" encoding="utf-8"?>
<!-- This configuration & it's parent directory are an HTTPHandler solution relaying request to a "back-end" Rudine WCF WS & content server -->
<!-- Move this file or changing it's parent folder's name will break relaying for Rudine forms -->
<configuration>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="rudineRelay_Integrated" preCondition="integratedMode" allowPathInfo="true" path="*" verb="*" resourceType="Unspecified" type="Rudine.Web.ReverseProxy.ReverseProxy, Rudine.Web" />
      <add name="rudineRelay_Classic" preCondition="classicMode,runtimeVersionv4.0,bitness64" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" />
    </handlers>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="*" path="*.*" type="Rudine.Web.ReverseProxy.ReverseProxy, Rudine.Web" validate="false" />
    </httpHandlers>
  </system.web>
  <appSettings>
    <!-- If an URL is explicitly set the Rudine.Web.dll HTTPHanlder will use it -->
    <!-- If blank, the Rudine.Web.dll HTTPHanlder will attempt to resolve this URL by looking
         at the main Web.Config for a Web Service URL -->
    <!--<add key="ServiceUrl" value="http://theWebServer/Rudine/dev/service/IPB.svc"/>-->
    <add key="ServiceUrl" value="" />
  </appSettings>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>